html,
body {
  margin: 1rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* colors */
  --purple: #5b21b6;
  --lightpurple2:#F5F3FF;
  --lightpurple: #a78bfa;
  --lightpurple1:#7C3AED;
  --darkpurple1: #4c1d95;
  --light-grey: #f9fafb;
  --light-grey1: #e5e7eb;
  --lightgrey2: #9ca3af;
  --midgrey: #6b7280;
  --darkgrey: #111827;
  --textgrey: #374151;
  --lightgreen: #ecfdf5;
  --darkgreen: #059669;
  --darkgreen1: #065f46;
  --lightyellow: #fffbeb;
  --darkyellow: #f59e0b;
  --darkyellow1: #d97706;
  --orange: #ff5722;
  --lightred: #fef2f2;
  --darkred: #dc2626;
  --darkred1: #b91c1c;
  --lightblue: #eff6ff;
  --darkblue: #2563eb;
  --darkblue1: #1d4ed8;
  --facebook: #3b5998;
  --twitter: #3cf;
  --linkedin: #0072b1;
  --instagram: linear-gradient(#e96443, #904e95);
  color: var(--textgrey);
}

/* common style classes */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.txt-highlight{
  background: var(--light-grey1);
  padding:0.25rem;
  font-weight: bold;
}

button {
  cursor: pointer;
  text-align: center;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.rm {
  margin-block-start: 0;
  margin-block-end: 0;
}

.br {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: inline;
}

.rm-ul-padding {
  padding-inline-start: 0;
}

.circle-border {
  color: inherit;
  border: 2px solid;
  border-radius: 50%;
  padding: 0.25rem;
}

.sm {
  width: 3rem;
  height: 3rem;
}

.md {
  width: 4rem;
  height: 4rem;
}

.lg {
  width: 5rem;
  height: 5rem;
}

.mb {

  margin: 1rem 0;
}

.responsive-img{
  width:100%;
}


.horizontal-card {
    padding: 0.75rem;
    border: 1px solid var(--purple);
    display: flex;
    flex-direction: column;
  }
  
  .horizontal-card__cart-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--light-grey1);
  }
  
  .cart-item__img {
    width: 10rem;
  }
  
  .cart-item__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .cart-item__details {
    padding: 0 1rem;
  }
  
  .details__primary {
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .cart-item__price {
    padding: 0 1rem;
  }
  
  .cart-item__price span {
    font-size: 0.75rem;
  }
  
  .price__discount {
    color: var(--purple);
  }
  
  .horizontal-card__btns {
    padding-top: 0.75rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  
  .horizontal-card__btns div {
    justify-self: center;
  }
  
  .horizontal-card__btns button {
    padding: 0.5rem;
    background: transparent;
    border: none;
    font-weight: bold;
  }
  
  .remove {
    color: var(--midgrey);
  }
  
  .wishlist {
    color: var(--purple);
  }
  